{% extends "base.html" %}
{% block title %}Адвокат Волгоград — юридическая помощь, консультации, услуги адвоката{% endblock %}
{% block description %}Юридическая помощь и консультации адвоката в Волгограде, Волжском и по всей России. Семейные, гражданские, уголовные, налоговые, арбитражные споры. Онлайн консультации. Запишитесь на консультацию к опытному юристу!{% endblock %}
{% block content %}

{% block header %}
{% include "header.html" %}
{% endblock %}


{% block resume %}
{% include "resume.html" %}
{% endblock %}

{% block counters %}
{% include "counters.html" %}
{% endblock %}

{% block skills %}
{% include "skills.html" %}
{% endblock %}

{% block interests %}
{% include "interests.html" %}
{% endblock %}

{% block portfolio %}
{% include "portfolio.html" %}
{% endblock %}

{% block contacts %}
{% include "contacts.html" %}
{% endblock %}

{% endblock %}
