 {% block interests %}
    <!-- ======= Интересы ======= -->
    <div class="interests container">

      <div class="section-title">
        <h2>Профессиональные интересы</h2>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-4">
          <div class="icon-box">
            <i class="ri-file-code-line" style="color: #ffbb2c;"></i>
            <h3>Уголовное право и процесс</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
            <h3>Договорные правоотношения</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="ri-book-mark-line" style="color: #e80368;"></i>
            <h3>Жилищное и семейное законодательство</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
          <div class="icon-box">
            <i class="ri-slideshow-line" style="color: #e361ff;"></i>
            <h3>Арбитражное право и процесс</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-terminal-box-line" style="color: #11dbcf;"></i>
            <h3>Споры с государственными учреждениями</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-server-line" style="color: #ffa76e;"></i>
            <h3>Обжалование действий налоговых органов</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-database-2-line" style="color: #47aeff;"></i>
            <h3>Защита интересов в порядке КАС РФ</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-hammer-line" style="color: #4233ff;"></i>
            <h3>Защита прав граждан</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-briefcase-fill" style="color: #b2904f;"></i>
            <h3>Проведение консултационных и образовательных мероприятий</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-computer-line" style="color: #b20969;"></i>
            <h3>Защита интеллектуальных и смежных прав</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-android-line" style="color: #ff5828;"></i>
            <h3>Консультация бизнеса по правовым вопросам</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-database-line" style="color: #29cc61;"></i>
            <h3>Взыскание долга</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}  