{% block interests %}
    <!-- ======= Интересы ======= -->
    <div class="interests container">

        <div class="section-title">
          <h2>Профессиональные интересы</h2>
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-4">
            <div class="icon-box">
              <i class="bi bi-shield-lock" style="color: #007bff;"></i>
              <h3>Уголовное право</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-file-earmark-text" style="color: #007bff;"></i>
              <h3>Договорное право</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-house-door" style="color: #007bff;"></i>
              <h3>Жилищное право</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="bi bi-people" style="color: #007bff;"></i>
              <h3>Семейное право</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="bi bi-building" style="color: #007bff;"></i>
              <h3>Административное право</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="bi bi-cash-coin" style="color: #007bff;"></i>
              <h3>Налоговое право</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="bi bi-person-lines-fill" style="color: #007bff;"></i>
              <h3>Гражданско-правовые споры</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="bi bi-briefcase" style="color: #007bff;"></i>
              <h3>Юридическое сопровождение бизнеса</h3>
            </div>
          </div>


        </div>

      </div>
    </section><!-- End Interests Section -->
{% endblock %}  