{% block resume %}
  <!-- ======= Резюме ======= -->
  <section id="resume" class="about">

    <!-- ======= Об авторе ======= -->
    <div class="about-me container">

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="static/img/me.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <p class="fst-italic">
            Осуществляю защиту интересов клиентов в судах по:
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Гражданским делам</strong></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Уголовным делам</strong></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Арбитражным делам</strong></li>
                <li><i class="bi bi-chevron-right"></i> <strong>По делам об административных правонарушениях</strong></li>
                <li><i class="bi bi-chevron-right"></i> <strong>В порядке кодекса административного судопроизводства</strong></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Квалифицированная подготовка процессуальных документов</strong></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Консультирование по правовым вопросам</strong></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Подготовка договоров и сопровождение сделок</strong></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Абонентское обслуживание физических и юридических лиц</strong></li>
              </ul>
            </div>
          </div>
          <p>
            Реализую преподавательскую деятельность, участвую в семинарах и встречах по правовым вопросам.
          </p>
        </div>
      </div>
</div><!-- конец секции -->

{% endblock %}    