{% block resume %}
  <!-- ======= Резюме ======= -->
  <section id="resume" class="about">

    <!-- ======= Об авторе ======= -->
    <div class="about-me container">

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="static/img/me.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>О моей практике</h3>
          <p>
            Предоставляю квалифицированную юридическую помощь по всей территории РФ и странах СНГ, защищая интересы доверителей в судах, государственных органах и коммерческих организациях. Регулярно повышаю свою квалификацию, участвуя в профильных семинарах и конференциях.
          </p>
          <p>
            Моя специализация включает:
          </p>
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i> Налоговые споры (защита интересов налогоплательщиков, оспаривание доначислений ФНС).</li>
            <li><i class="bi bi-check-circle"></i> Уголовные дела (защита на всех стадиях уголовного процесса, защита лиц, пострадавших от преступных посягательств).</li>
            <li><i class="bi bi-check-circle"></i> Гражданские дела (включая споры о собственности, договорные отношения, наследственные дела, защита чести, достоинства и деловой репутации).</li>
            <li><i class="bi bi-check-circle"></i> Арбитражные споры (представление интересов бизнеса в арбитражных судах).</li>
            <li><i class="bi bi-check-circle"></i> Административные правонарушения (обжалование постановлений, защита прав граждан).</li>
            <li><i class="bi bi-check-circle"></i> Административное судопроизводство (споры с государственными органами).</li>
          </ul>
          <br>
          <p>
            Помимо судебного представительства, предлагаю следующие услуги:
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i> Разработка и экспертиза договоров.</li>
            <li><i class="bi bi-check-circle"></i> Юридическое сопровождение сделок.</li>
            <li><i class="bi bi-check-circle"></i> Консультирование по правовым вопросам.</li>
            <li><i class="bi bi-check-circle"></i> Абонентское юридическое обслуживание физических и юридических лиц.</li>
          </ul>
        </div>
      </div>
</div><!-- конец секции -->

{% endblock %}    